.weather-app {
	display: flex;
	flex-direction: column;
	/* Frosted glass effect */
	background: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	/* Subtle glass border */
	/* border: 1px solid rgba(255, 255, 255, 0.25);
	border-radius: 10px; */

	margin: 0px;
	width: 100%;
	height: 90vh;
	min-width: 550px;
	min-height: 400px;
}
.search-bar-container {
	height: 15%;
	background: blueviolet;
	position: relative;
}
.current-weather {
	display: flex;
	flex-direction: column;
	background: red;
	height: 85%;
}
.date-container {
	position: relative;
	display: flex;
	justify-content: center;
	height: 15%;
}
.daily-weather {
	background: lime;
	height: 85%;
}
