.current-weather-summary {
	background: lime;
	display: flex;
	flex-basis: 25%;
	overflow: hidden;
}
.current-weather-summary-text {
	background: cyan;
}
.current-weather-icon-container {
	background: yellowgreen;
}
.current-weather-icon {

}
.current-weather-info {
	position: relative;
	flex-basis: 40%;
	background: blue;
	overflow: hidden;
}
#hourlyWeatherContainer {
	flex-basis: 35%;
	display: flex;
	flex-direction: row;
	width: 100%;
	background: chocolate;
	overflow: hidden;
}
.hourly-weather-card {
	display: flex;
	flex-direction: column;
	min-width: 75px;
	height: 100%;
}
.hourly-weather-temp {
	flex-basis: 10%;
	width: 100%;	
	text-align: center;
}
.hourly-weather-icon-container {
	flex-basis: 70%;
	width: 100%;	
}
.hourly-weather-icon {
	width: 100%;
	height: 100%;
}
.hourly-weather-hour {
	text-align: center;
	flex-basis: 10%;
	width: 100%;
}